<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>QR-AM SYSTEM | GRADE 7 ATTENDANCE</title>

    <link rel="stylesheet" href="../public/css/attendance.css">
    <link rel="stylesheet" href="../public/css/nav-bar.css">
    <link rel="stylesheet" href="../public/css/disclaimer.css">
    <link rel="stylesheet" href="../public/css/footer.css">

    <script src="../public//js/nav-bar.js" defer></script>
    <script src="../public//js/disclaimer-mobile.js" defer></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body> 
    <div class="disclaimer" data-visible="true" id="disclaimer">
        <button class="exit-disclaimer" aria-controls="disclaimer"></button>
        <strong class="disclaimer-text">This Website is for the Fullfillment of the Requirements for Practical Research 1. <a href="#" class="">Learn more</a></strong>
    </div>
    
    <div>
        <header class="primary-nav-bar flex">
            <strong class="title">QR-AM SYSTEM</strong>
            
            <button class="mobile-nav-toggle" aria-controls="primary-nav" aria-expanded="false"></button>
            
            <nav>
                <ul data-visible="false" class="nav-bar flex" id="primary-nav">
                    <li><a href="/pages/start.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
            
        </header>
        
    </div>
    
    <div class="main">
        
        <div class="main-container">
            <div class="levels menu">
                <ul class="buttons flex">
                    <li><a href="/attendance/grade7" id="grade7" class="grade7Button levelButtons current-page">Grade 7</a></li>
                    <li><a href="/attendance/grade8" id="grade8" class="grade8Button levelButtons">Grade 8</a></li>
                    <li><a href="/attendance/grade9" id="grade9" class="grade9Button levelButtons">Grade 9</a></li>
                    <li><a href="/attendance/grade10" id="grade10" class="grade10Button levelButtons">Grade 10</a></li>
                    <li><a href="/attendance/grade11" id="grade11" class="grade11Button levelButtons">Grade 11</a></li>
                    <li><a href="/attendance/grade12" id="grade12" class="grade12Button levelButtons">Grade 12</a></li>
                </ul>
            </div>
            <div class="sections menu">
                <ul class="buttons flex">
                    <li><button id="carbon" class="carbon sect-button" aria-controls="tableMenu-carbon">Carbon</button></li>
                    <li><button id="hydrogen" class="hydrogen sect-button" aria-controls="tableMenuHydrogen">Hydrogen</button></li>
                    <li><button id="oxygen" class="oxygen sect-button" aria-controls="tableMenu-oxygen">Oxygen</button></li>
                    <li><button id="nitrogen" class="nitrogen sect-button" aria-controls="tableMenu-nitrogen">Nitrogen</button></li>
                </ul>
            </div>
            
            
            <div id="tableMenu-hydrogen" class="table menu"  data-visible="false" id="table">
                <H2 class="attendance-title" id="tableHeader">Hydrogen | Attendance</H2>
                <table>
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Time Arrived</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < grade7Attendance.hydrogen.length; i++)  {%>
                            <tr>
                                <td><%= grade7Attendance.hydrogen[i].name %></td>
                                <td><%= grade7Attendance.hydrogen[i].time %></td>
                                <td><%= grade7Attendance.hydrogen[i].remarks %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div id="tableMenu-carbon" class="table menu"  data-visible="false" id="table">
                <H2 class="attendance-title" id="tableHeader">Carbon | Attendance</H2>
                <table>
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Time Arrived</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < grade7Attendance.carbon.length; i++)  {%>
                            <tr>
                                <td><%= grade7Attendance.carbon[i].name %></td>
                                <td><%= grade7Attendance.carbon[i].time %></td>
                                <td><%= grade7Attendance.carbon[i].remarks %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div id="tableMenu-oxygen" class="table menu"  data-visible="false" id="table">
                <H2 class="attendance-title" id="tableHeader">Oxygen | Attendance</H2>
                <table>
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Time Arrived</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < grade7Attendance.oxygen.length; i++)  {%>
                            <tr>
                                <td><%= grade7Attendance.oxygen[i].name %></td>
                                <td><%= grade7Attendance.oxygen[i].time %></td>
                                <td><%= grade7Attendance.oxygen[i].remarks %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div id="tableMenu-nitrogen" class="table menu"  data-visible="false" id="table">
                <H2 class="attendance-title" id="tableHeader">Nitrogen | Attendance</H2>
                <table>
                    <thead>
                        <tr>
                            <th>Student Name</th>
                            <th>Time Arrived</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < grade7Attendance.nitrogen.length; i++)  {%>
                            <tr>
                                <td><%= grade7Attendance.nitrogen[i].name %></td>
                                <td><%= grade7Attendance.nitrogen[i].time %></td>
                                <td><%= grade7Attendance.nitrogen[i].remarks %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>           
            
        </div>
        
    </div>
    
    <div class="footer flex">
        
        <div class="contact-container test">
            <strong class="title">QR-AM SYSTEM</strong>
            
            <ul class="flex">
                <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                <li><i class="fa fa-github" aria-hidden="true"></i></li>
            </ul>
            
            <button>Sign-In Now!</button>
        </div>
        
        <div class="pages-container test">
            <ul class="flex">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        
        <div class="copyright-container test">
            <strong class="copyright-title">qr-code attendance monitoring.</strong>
            <p class="copyright">Copyright © 2023</p>
            
            <p class="copyright-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure dolore illum quo incidunt, optio voluptatem animi temporibus soluta distinctio voluptatum autem error. Placeat, alias odio?</p>
        </div>
    </div>
    
    <script src="../public/js/start.js"></script>
</body>
</html>